.filters {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    background-color: black;
    padding: 1rem;
    border-radius: 20px;
}

.range {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.range label {
    margin: 0 1rem;
}

.range span {
    margin: 0 1rem;
}

.category {
    width: 50%;
}

.category select {
    margin: 0 1rem;
    padding: 10px;
    background-color: black;
}